.App {
  width: 550px;
  height: 550px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.nav-bar span {
  color: #fff;
  font-family: Karla;
  font-size: 20.748px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}
.app-info {
  display: flex;
  margin-left: 29px;
  gap: 2px;
}
.nav-bar p {
  margin-right: 28px;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

main{
  margin-top: 48px;
  margin-left: 37px;
}
.meme-form{
  display: grid;
  grid-template-columns: 222px 222px;
  gap: 33px;
}
.meme-form input{
  border-radius: 4.912px;
  border: 0.819px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  width: 222px;
  height: 34px;
  text-indent: 5px;
}
.meme-form button{
  grid-column: 1/-1;
   margin-top: 15px;
  width: 477px;
  height: 40px;
  color: #fff;
  /* text-align: center; */
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
  cursor: pointer;
}
.meme-image{
  max-width: 100%;
}